.login-page-container {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0ecff;
}

.form-header-container {
    height: 10vh;
    width: 30vw;
    background-color: #53469c;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.form-content-container {
    align-items: center;
    justify-content: space-evenly;
    padding: 8;
    border: 4px solid #53469c;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: whitesmoke;
    height: 50vh;
}

.form-style {
    align-items: center !important;
    justify-content: center !important;
}

.form-button {
    margin-top: 16px !important;
    color: white !important;
    background-color: #53469c !important;
}

.link {
    color: black !important;
    text-decoration-color: black !important;
}

.link:hover {
    color: #000000aa !important;
}
