.button-container {
    width: 100% !important;
    justify-content: left;
    align-items: center;
}

.button-content-container{
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.button-container:hover {
    background-color: #53469c40 !important;
}

.button-container:focus {
    background-color: #53469c20 !important;
}

.button-text-container {
    color: black ;
    cursor: default ;
}

.icon {
    color: black;
    width: auto;
    height: auto;
}