
.drawer-button-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    width: 20vw !important;
    padding: 0.5rem !important;
    margin: 0.2rem !important;
    margin-top: 0 !important;
    
}

.drawer-button-container:hover {
    background-color: #53469c40 !important;
}

.drawer-button-container:focus {
    background-color: #53469c20 !important;
}

.drawer-button-text-container {
    font-size: x-large !important;
    color: black !important;
    cursor: default !important;
}

