.drawer-container {
    width: 20vw ;
}

.drawer-top {
    height: 5rem ;
    background-color: #ED6C02 !important;
    /* width: 20vw !important; */
    justify-content: center;
    align-items: center;
}

.drawer-content {
    height: 100% !important;
    background-color: white !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;
}

.drawer-top-title {
    font-size: x-large !important;
    color: white;
}

