.drawer-container {
    width: 20vw !important;
}

.drawer-top {
    height: 10vh !important;
    background-color: #ED6C02 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}

.drawer-content {
    height: 90vh !important;
    background-color: white !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;
}

.drawer-top-title {
    font-size: x-large !important;
    color: white;
}

.drawer-content-button {
    width: 20vw;
}

.drawer-content-button:hover {
    background-color: #ED6C0240 !important;
}

.drawer-content-button:active {
    background-color: #ed6c0220 !important;
}

.drawer-content-button-text {
    color: black !important;
    text-decoration: none !important;
}
