.drawer-container {
    width: 20vw !important;
}

.drawer-top {
    height: 10vh !important;
    background-color: #ED6C02 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}

.drawer-content {
    height: 90vh !important;
    background-color: white !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;
}

.drawer-top-title {
    font-size: x-large !important;
    color: white;
}

