.icon-button {
    border-radius: 20px !important;
    width: 30% !important;
    background-color: #53469c !important; 
}

.icon-button:hover {
    background-color: #53469c40 !important;
}

.icon-button-container{
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.icon {
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: white;
}