.account-settings-container{
    justify-content: center ;
    align-items: center ;
    flex-direction: column !important;
    background: #ffdfc4 ;
    height: 92vh;
}

.account-container {
    justify-content: center;
    align-items: center;
    
}

.left-container {
    width: 15%;
    height: 70vh;
    background-color: whitesmoke;
}

.right-container {
    height: 70vh;
    width: 60%;
}

.right-container-title {
    height: 15%;
    background-color: #ED6C02;
}

.right-container-content {
    height: 85%;
    background-color: white;
}

.account-form-style {
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-evenly;
}

.form-input-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
}