.account-settings-container {
    justify-content: center;
    align-items: center;
    background: #f0ecff;
    height: 92vh;
}

.account-container {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.left-container {
    width: 25%;
    /* height: 70vh; */
    background-color: whitesmoke;
}

.right-container {
    height: 70vh;
    width: 60%;
}

.right-container-title {
    height: 15%;
    background-color: #53469c;
}

.right-container-content {
    height: 85%;
}

.account-form-style {
    display: flex;
    flex-direction: column !important;
    height: 20vh;
    padding: 15vw;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
}

.form-input-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
}

.panel-container-style {
    display: flex;
    background-color: white;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    justify-content: center;
}

.delete-user-button-container {
    justify-content: center;
    padding: 5%;
}

.save-button-container {
    justify-content: center;
    padding: 5%;
}

.account-form-input {
    margin: 0.5rem 0px !important;
}

.account-form-button {
    margin: 1rem 0px !important;
    color: white !important;
    background-color: #53469c !important;
}

.account-form-button:hover {
    margin: 1rem 0px !important;
    color: white !important;
    background-color: #8a82b5 !important;
}

.account-delete-user-button {
    color: white !important;
    background-color: rgb(235, 20, 0) !important;
    width: 40% !important;
}

.account-delete-user-button:hover {
    color: white !important;
    background-color: rgb(255, 105, 92) !important;
    width: 40% !important;
}

.account-form-title {
    border-bottom: 1px solid black !important;
}