.create-account-page-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100vh !important;
    width: 100vw !important;
    background-color: #f0ecff !important;
}

.form-header-container {
    height: 10vh !important;
    width: 30vw !important;
    background-color: #53469c !important;
    display: flex !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    justify-content: center !important;
    align-items: center !important;
}

.form-content-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    padding: 8 !important;
    border: 4px solid #53469c !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    background-color: whitesmoke !important;
    height:70vh;
    width:30vw;
}

.form-style {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
}

.form-button {
        margin-top: 16px !important;
        color: white !important;
        background-color: #53469c !important;
}

.link {
    color: black !important;
    text-decoration-color: black !important;
}

.link:hover {
    color: #000000aa !important;
}