.App {
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.App-header {
  border-bottom-width: 1px;
  border-bottom-color: black;
  flex: 1;
}

.App-body {
  flex: 8;
}

.App-footer {
  background-color: blue;
  flex: 1;
}